# Compiled output
**/dist
**/tmp
**/out-tsc
**/bazel-out

# Node
**/node_modules
**/npm-debug.log
**/yarn-error.log

# IDEs and editors
**/.idea/
**/.classpath
**/.c9/
**/*.launch
**/.project
**/.settings/
**/*.sublime-workspace

# Visual Studio Code
**/.vscode/*
**/.history/*

# Miscellaneous
**/.angular/cache
**/.sass-cache/
**/connect.lock
**/coverage
**/libpeerconnection.log
**/testem.log
**/typings

# System files
**/.DS_Store
**/Thumbs.db
